{% block skills %}
    <div class="ui vertical segment">
        <div class="ui header">
            Skills & Technologies
        </div>

        <div class="ui divider"></div>
        <br>

        <form class="ui form">
            {% comment %}The add a new skill Accordian starts here!{% endcomment %}
            <div class="ui active accordion field">
                <div class="title">
                    <i class="icon dropdown"></i>
                    Add a new Skill/Technology
                </div>

                <div class="active content fields">
                    <div class="two fields">
                        <div class="one wide field"></div>
                        <div class="eight wide field">
                            <label>Skill/Technology:</label>
                            <input placeholder="Skill/Technology"
                                   class="ui fluid input"
                                   type="text">
                        </div>

                        <div class="four wide field">
                            <label>Rate:</label>
                            <input placeholder="Rate"
                                   class="ui fluid input"
                                   type="text">
                        </div>

                        <div class="two wide field">
                            <label><br></label>
                            <button class="ui primary button">Add</button>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %}The add a new skill Accordian ends here!{% endcomment %}
        </form>
    </div>

    <div class="extra content">
        <div class="ui container stackable doubling grid" style="margin: 12px;">
            {% comment %}The Left margin{% endcomment %}
            <div class="one wide column"></div>

            {% comment %}Skills/Technology Name! {% endcomment %}
            <div class="four wide column">
                <div class="ui mini statistic">
                    <div class="value">
                        HTML/CSS
                    </div>
                </div>
            </div>

            {% comment %}Progress Bar! {% endcomment %}
            <div class="eight wide column">
                <div class="ui indicating large progress" data-value="50" data-total="100" id="example1">
                    <div class="bar">
                        <div class="progress"></div>
                    </div>
                    <div class="label">
                        <div class="ui mini statistic">
                            <div class="value">
                                HTML/CSS
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            {% comment %}Edit! {% endcomment %}
            <div class="one wide column">
                <div class="ui buttons">
                    <button class="ui green basic button" onclick="increment()">
                        <i class="plus icon green"></i>
                    </button>

                    <button class="ui red basic button" onclick="decrement()">
                        <i class="minus icon red"></i>
                    </button>
                </div>
            </div>

            {% comment %}The Right margin{% endcomment %}
            <div class="two wide column"></div>
        </div>
    </div>
{% endblock %}