{% load static %}

 <div class="ui container">
            <div class="ui vertical stripe team segment"
                 style="padding-left: 3.5%;
                padding-right: 3.5%;">

                <div class="ui header">
                    visitor hostel form:
                </div>

                <div class="ui divider"></div>
                <br>

                <form class="ui large form">

                    {% comment %} The visitor room form  starts here! {% endcomment %}
                    <div id="bookaroom">
                        {% comment %}The form row starts here!{% endcomment %}

                        <div class="field">
                            <div class="two fields">
                                <div class="field">
                                    <label>Name </label>
                                    <input placeholder="name" type="text">
                                </div>

                                <div class="field">
                                    <label>Organization</label>
                                    <input placeholder="organization" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="sixteen wide field">
                            <label>Address:</label>
                            <div class="ui fluid input">
                                <textarea class="ui textarea" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="field">
                            <div class="two fields">
                                <div class="field">
                                    <label>Phone </label>
                                    <input placeholder="Phone" type="number">
                                </div>

                                <div class="field">
                                    <label>Email</label>
                                    <input placeholder="email" type="email">
                                </div>
                            </div>
                        </div>
                        <div class="fields">
                            <div class="sixteen wide field" id="leaveAddress" style="display: none;">
                                <label>Leave Address:</label>
                                <textarea class="ui textarea" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="field">
                            <div class="two fields">
                                <div class="field">
                                    <label>Number Of Persons </label>
                                    <input placeholder="number of persons" type="number">
                                </div>

                                <div class="field">
                                    <label>purpose Of Visit</label>
                                    <input placeholder="description" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="fields">

                            {% comment %}rooms and nationality starts here!{% endcomment %}
                            <div class="eight wide field">
                                <label>Nationality:</label>
                                <div class="ui fluid search selection dropdown">
                                    <input name="Select" type="hidden">
                                    <i class="dropdown icon"></i>

                                    <div class="default text">Select</div>

                                    <div class="menu">
                                        <div class="item" data-value="india">
                                            India
                                        </div>

                                        <div class="item" data-value="pakistan">
                                            Pakistan
                                        </div>
                                        <div class="item" data-value="srilanka">
                                            Srilanka
                                        </div>
                                        <div class="item" data-value="bangladesh">
                                            Bangladesh
                                        </div>
                                        <div class="item" data-value="china">
                                            China
                                        </div>
                                        <div class="item" data-value="uae">
                                            UAE
                                        </div>

                                        <div class="item" data-value="nepal">
                                            Nepal
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% comment %}Number of rooms starts here!{% endcomment %}
                            <div class="eight wide field">
                                <label>No Of Rooms:</label>
                                <div class="ui fluid search selection dropdown">
                                    <input name="Select" type="hidden">
                                    <i class="dropdown icon"></i>

                                    <div class="default text">Select</div>

                                    <div class="menu">
                                        <div class="item" data-value="1">
                                            1
                                        </div>

                                        <div class="item" data-value="2">
                                            2
                                        </div>
                                        <div class="item" data-value="3">
                                            3
                                        </div>

                                        <div class="item" data-value="4">
                                            4
                                        </div>
                                    </div>
                                </div>

                            </div>
                            {% comment %}Number of rooms ends here!{% endcomment %}
                        </div>
                    </div>
                    {% comment %}rooms and nationality ends here!{% endcomment %}
                    <br>

                    <div class="two fields">
                        <div class="twelve wide field">
                            {% comment %}The Dropdown field starts here!{% endcomment %}
                            <label>visit category:</label>

                            <div class="ui fluid search selection dropdown">
                                <input name="category" type="hidden">
                                <i class="dropdown icon"></i>

                                <div class="default text">visit category</div>

                                <div class="menu">
                                    <div class="item" data-value="A">
                                        A
                                    </div>

                                    <div class="item" data-value="B">
                                        B
                                    </div>

                                    <div class="item" data-value="C">
                                        C
                                    </div>

                                    <div class="item" data-value="D">
                                        D
                                    </div>


                                </div>
                            </div>
                            {% comment %}The Dropdown field ends here!{% endcomment %}
                        </div>



                    </div>




                    <br>

                    <div class="fields">



                        <br>
                        <div class="four wide field">
                            <label><br></label>
                            <div class="ui large fluid primary button">
                                Submit
                            </div>
                        </div>
                    </div>
                    <br>

                </form>
            </div>

  </div>


{% endblock %}
