{% load static %}
{% block roomstatus %}
 <div class="ui container">
            <div class="ui vertical stripe team segment"
                 style="padding-left: 3.5%;
                padding-right: 3.5%;">
    <div class="ui header">
        Room Booking Status:
    </div>
             <div id="checkout">

    <div class="content">
        <div class="description">

            <table class="ui very basic collapsing celled large sortable table"
                   style="padding-left: 2.5%;
                                                          padding-right: 2.5%;
                                                          padding-top: 1%;
                                                          padding-bottom: 1.5%;
                                                          margin: auto;">
                <thead>
                <tr>
                    <th>
                        Name
                    </th>

                    <th>
                         Arrival Date:
                    </th>

                    <th>
                         Departure Date:
                    </th>
                    <th>
                        Number of Persons
                    </th>
                    <th>
                        Payment Status
                    </th>
                    <th>
                        Booking Status
                    </th>
                    <th>
                        Cancel Booking
                    </th>
                </tr>
                </thead>

                <tbody>

                    <tr>
                        <td>
                            <h4 class="ui image header">
                                <img src="{% static 'fusion/img/user.png' %}" class="ui mini rounded image">
                                <div class="content">
                                    {{ userFirstName }}
                                    {{ userLastName }}
                                    <div class="sub header">
                                        {{ userDesignation }}
                                    </div>
                                </div>
                            </h4>
                        </td>

                        <td>
                            2 oct'17
                        </td>

                        <td>
                            12 oct'17
                        </td>

                        <td>
                            2
                        </td>
                        <td>
                            Pending
                        </td>
                        <td>
                            <i class="large green checkmark icon"></i>
                        </td>
                        <td>
                             <a class="item" onclick="modal();">
                         <button class="ui button">
                          Cancel
                          </button>
                            </a>
<div class="ui basic modal">
  <div class="ui icon header">
    <i class="archive icon"></i>
     Cancel booking
  </div>
  <div class="content">
    <p>Are you sure you want to Cancel this Booking?</p>
  </div>
  <div class="actions">
    <div class="ui red basic ok inverted   button">
      <i class="remove icon"></i>
      No
    </div>
    <div class="ui green  cancel inverted button">
      <i class="checkmark icon"></i>
      Yes
    </div>
  </div>
</div>

                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>

 </div>
 </div>
 </div>
<script>
    $('.ui.basic.modal')
  .modal('show')
;
</script>

{% endblock %}

