{% load static %}
{% block updateinventory %}
  {% comment %}The tab  starts here!{% endcomment %}
  <div class="ui container">
    <div class="ui vertical stripe team segment"
         style="padding-left: 3.5%;
                padding-right: 3.5%;">

        <div class="ui header">
            Inventory:
        </div>

        <div class="ui divider"></div>
        <br>

        <form class="ui large form">

            {% comment %} The inventory starts here! {% endcomment %}
            <div id="viewinventory">





            </div>
        </form>
    </div>
  </div>

  {% comment %}The tab ends here!{% endcomment %}


{% endblock %}
